<div id="sendDataJobFormContainerWizard">
    <h3>Send Data</h3>
    <section>
        <label for="sendDataTo">To</label>
        <input type="hidden" name="job.CustomFormData[0].Key" value="to" />
        <input type="text" name="job.CustomFormData[0].Value" value="{{{GetItemProp CustomFormData 0 'Value'}}}" id="sendDataTo" />
        <label for="sendDataCc">Cc</label>
        <input type="hidden" name="job.CustomFormData[1].Key" value="cc" />
        <input type="text" name="job.CustomFormData[1].Value" value="{{{GetItemProp CustomFormData 1 'Value'}}}" id="sendDataCc" />
        <label for="sendDataBcc">Bcc</label>
        <input type="hidden" name="job.CustomFormData[2].Key" value="bcc" />
        <input type="text" name="job.CustomFormData[2].Value" value="{{{GetItemProp CustomFormData 2 'Value'}}}" id="sendDataBcc" />
        <label for="sendDataSqlQuery">Sql Query</label>
        <input type="hidden" name="job.CustomFormData[3].Key" value="sqlquery" />
        <input type="text" name="job.CustomFormData[3].Value" value="{{{GetItemProp CustomFormData 3 'Value'}}}" id="sendDataSqlQuery" />
        <label for="sendDataSqlQuery">Sql Query To Field</label>
        <input type="hidden" name="job.CustomFormData[11].Key" value="sqlquerytofield" />
        <input type="text" name="job.CustomFormData[11].Value" value="{{{GetItemProp CustomFormData 11 'Value'}}}" id="sendDataSqlQueryToField" />
        <label for="sendDataSqlQuery">Sql Query Cc Field</label>
        <input type="hidden" name="job.CustomFormData[14].Key" value="sqlqueryccfield" />
        <input type="text" name="job.CustomFormData[14].Value" value="{{{GetItemProp CustomFormData 14 'Value'}}}" id="sendDataSqlQueryCcField" />
        <label for="sendDataSqlQuery">Sql Query Bcc Field</label>
        <input type="hidden" name="job.CustomFormData[15].Key" value="sqlquerybccfield" />
        <input type="text" name="job.CustomFormData[15].Value" value="{{{GetItemProp CustomFormData 15 'Value'}}}" id="sendDataSqlQueryBccField" />
        <label for="sendDataSqlQueryConStr">Sql Query Connection String</label>
        <input type="hidden" name="job.CustomFormData[4].Key" value="sqlqueryconstr" />
        <input type="text" name="job.CustomFormData[4].Value" value="{{{GetItemProp CustomFormData 4 'Value'}}}" id="sendDataSqlQueryConStr" />
        <p></p>
        <label for="useSendDataDetailBodyForAll">Herkes icin ayrı ayrı gönder</label>
        <input type="hidden" name="job.CustomFormData[13].Key" value="usedetailforeveryone" />
        <input type="checkbox" name="job.CustomFormData[13].Value" id="useSendDataDetailBodyForAll" />
    </section>
    <h3>Send Data Detail</h3>
    <section>
        <label for="sendDataDetailSubject">Konu</label>
        <input type="hidden" name="job.CustomFormData[5].Key" value="subject" />
        <input id="sendDataDetailSubject" name="job.CustomFormData[5].Value" value="{{{GetItemProp CustomFormData 5 'Value'}}}" type="text">
        <label for="sendDataDetailHeader">Başlık</label>
        <input type="hidden" name="job.CustomFormData[6].Key" value="header" />
        <input id="sendDataDetailHeader" name="job.CustomFormData[6].Value" value="{{{GetItemProp CustomFormData 6 'Value'}}}" type="text">
        <label for="sendDataDetailContent">İçerik</label>
        <input type="hidden" name="job.CustomFormData[7].Key" value="body" />
        <textarea id="sendDataDetailContent" name="job.CustomFormData[7].Value" cols="40" rows="5" style="resize: none;"></textarea>
        <label for="sendDataDetailFooter">Alt Bilgi</label>
        <input type="hidden" name="job.CustomFormData[8].Key" value="footer" />
        <input id="sendDataDetailFooter" name="job.CustomFormData[8].Value" value="{{{GetItemProp CustomFormData 8 'Value'}}}" type="text">
        <label for="sendDataDetailSqlQuery">Detail Sql Query</label>
        <input type="hidden" name="job.CustomFormData[9].Key" value="detailsqlquery" />
        <input type="text" name="job.CustomFormData[9].Value" value="{{{GetItemProp CustomFormData 9 'Value'}}}" id="sendDataDetailSqlQuery" />
        <label for="sendDataDetailSqlQueryConStr">Detail Sql Query Connection String</label>
        <input type="hidden" name="job.CustomFormData[10].Key" value="detailsqlqueryconstr" />
        <input type="text" name="job.CustomFormData[10].Value" value="{{{GetItemProp CustomFormData 10 'Value'}}}" id="sendDataDetailSqlQueryConStr" />
        <p></p>
        <label for="useSendDataDetailQueryForTemplate">Detay sorgu mail içeriğinde kullan</label>
        <input type="hidden" name="job.CustomFormData[12].Key" value="usesenddatadetailqueryfortemplate" />
        <input type="checkbox" name="job.CustomFormData[12].Value" id="useSendDataDetailQueryForTemplate" />
    </section>
</div>

<script type="text/javascript">

    function demo() {
        // code
        var $editor = $('#sendDataDetailContent');
        var intellisense = new TextBoxIntellisense('sendDataDetailContent');

        // set the filter mode to filter by using the 'contains' predefined function
        intellisense.getDecls().setFilterMode('contains');

        // add trigger when the user presses the `.` key or `ctrl+space`
        intellisense.addDeclarationTrigger({ keyCode: 190 }); // the `.` key
        intellisense.addDeclarationTrigger({ keyCode: 32, ctrlKey: true, preventDefault: true }); // `ctrl+space`

        // called when the declarations are triggered
        intellisense.onDeclaration(function (item) {
            var data = [
                { name: 'Item #1', value: '``Item #1``', documentation: 'The first item' },
                { name: 'Item #2', value: '``Item #2``', documentation: 'The second item' },
                { name: 'Item #3', value: '``Item #3``', documentation: 'The third item' },
                { name: 'Item #4', value: '``Item #4``', documentation: 'The fourth item' },
                { name: 'Item #5', value: '``Item #5``', documentation: 'The fifth item' },
                { name: 'Item #6', value: '``Item #6``', documentation: 'The sixth item' },
                { name: 'Item #7', value: '``Item #7``', documentation: 'The seventh item' },
                { name: 'Item #8', value: '``Item #8``', documentation: 'The eighth item' },
                { name: 'Item #9', value: '``Item #9``', documentation: 'The ningth item' },
                { name: 'Item #10', value: '``Item #10``', documentation: 'The tenth item' },
                { name: 'Item #11', value: '``Item #11``', documentation: 'The eleventh item' },
                { name: 'Item #12', value: '``Item #12``', documentation: 'The twelvth item' }
            ];
            intellisense.setDeclarations(data);
        });
    }

    $(function () {
        
        var usedetailforeveryoneData = "{{{GetItemProp CustomFormData 13 'Value'}}}";

        if (usedetailforeveryoneData === "on") {

            $('#useSendDataDetailBodyForAll').attr("checked", true);

        } else {

            $('#useSendDataDetailBodyForAll').attr("checked", false);

        }

        var useSendDataDetailQueryForTemplate = "{{{GetItemProp CustomFormData 12 'Value'}}}";
        if (useSendDataDetailQueryForTemplate === "on") {

            $('#useSendDataDetailQueryForTemplate').attr("checked", true);

        } else {

            $('#useSendDataDetailQueryForTemplate').attr("checked", false);

        }

        $("#sendDataJobFormContainerWizard").steps({
            headerTag: "h3",
            bodyTag: "section",
            transitionEffect: "slideLeft",
            autoFocus: true,
            enableFinishButton: false,
            labels: {
                next: 'Sonraki <i class="fa fa-chevron-right"></i>',
                previous: '<i class="fa fa-chevron-left"></i> Önceki'
            }
        });

        try {
            debugger;

            $('#sendDataDetailContent').html(`{{{GetItemProp CustomFormData 7 'Value'}}}`);
            //demo();
        } catch (e) {
            console.log("demo(); problem");
        }
    })
</script>
<script src="Content/Scripts/jquery.steps.min.js"></script>
<script src="Content/Scripts/lib/webintellisense.js"></script>
<script src="Content/Scripts/lib/webintellisense-textbox.js"></script>
<link href="Content/webintellisense.css" rel="stylesheet" />
<link rel="stylesheet" href="Content/jquery.steps.css" type="text/css" />
